@media only screen and (max-width: 1100px) {
    .fullscreen {
        object-fit: contain;
    }

    #game-lost-img {
        object-fit: unset;
    }

    .fullscreen-lvl {
        height: auto !important;
        width: 100% !important;
    }

    /* #control-keys {
        display: table;
        margin-top: -40rem;
    }

.element-direction span {
        margin: 1rem;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }*/
}

@media only screen and (max-width: 700px) {
    #description span {
        font-size: 1rem !important;
    }
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .overlay-design img {
        width: 100% !important;
    }

    #first-screen {
        display: block;
        width: 100% !important;
    }

}

@media only screen and (max-width: 700px) {
    #description span {
        font-size: 1rem !important;
    }
}


@media only screen and (max-width: 600px) {

    #start-btn,
    #restart-btn {
        height: 3rem;
    }

    #start-btn:hover,
    #restart-btn:hover {
        height: 4rem;
    }

    #control-keys {
        margin-top: -3rem;
    }


    .element-direction img {
        height: 1rem;
    }

    .element-direction span {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .overlay-design img {
        height: 100vh;
    }

    #first-screen {
        display: block;
        height: 100vh;
    }
}

@media only screen and (max-width: 445px) {
    h1 {
        font-size: 3rem;
    }

    #start-btn,
    #restart-btn {
        height: 2rem;
    }

    #start-btn:hover,
    #restart-btn:hover {
        height: 3rem;
    }

    #control-keys {
        margin-top: -2.5rem;
    }

    .element-direction img {
        height: .7rem;
    }

    .element-direction span {
        font-size: .7rem;
    }

    .size img{
        height: 0.9rem;
    }
}

@media only screen and (max-width: 390px) {

    #start-btn,
    #restart-btn {
        height: 1.5rem;
    }

    #start-btn:hover,
    #restart-btn:hover {
        height: 2.4rem;
    }
}