@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: unset;
    background-image: url('img/5_background/complete_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabars', 'Arial', 'Helvetica', 'sans-serif';
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 1rem;
}

h2 {
    font-family: 'zabars';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: black;
    display: block !important;
}

#main {
    position: relative;
}

#first-screen,
#game-over-screen,
#game-won-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-design img {
    width: 100%;
    height: 100%;
}

#start-btn,
#restart-btn {
    position: absolute;
    top: 2rem;
    left: 45%;
    /* background-color: rgb(222, 192, 0); */
    /* min-width: 5rem; */
    height: 4rem;
    /* font-size: 1rem; */
    /* color: hsl(0, 0%, 3%); */
    /* border: 2px solid hsl(0deg 97.09% 47.62%); */
    cursor: pointer;
    transition: 125ms ease-in-out;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#start-btn:hover,
#restart-btn:hover {
    transition: 125ms ease-in-out;
    left: 44%;
    top: 1.5rem;
    /*background-color: rgb(222, 174, 0);*/
    height: 5rem;
}

#close-btn {
    background-color: rgb(222, 192, 0);
    min-width: 5rem;
    height: 2rem;
    font-size: 1rem;
    color: hsl(0, 0%, 3%);
    border: 2px solid hsl(0, 0%, 36%);
    cursor: pointer;
    margin-top: 0.5rem;
}

#close-btn:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(222, 174, 0);
}

#control-keys {
    display: flex;
    /*margin-top: -3.5rem;*/
    justify-content: space-around;
    align-items: center;
}

.fullscreen-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.ingame-fullscreen-btn {
    position: absolute;
    bottom: 0.4rem;
    right: 1rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.sound-btn {
    position: absolute;
    top: 1rem;
    right: 5rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.ingame-sound-btn {
    position: absolute;
    bottom: 0.4rem;
    right: 4rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.control-keys-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.ingame-control-keys-btn {
    position: absolute;
    bottom: 0.4rem;
    right: 7rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.info-screen-btn {
    position: absolute;
    top: 1rem;
    left: 4rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.fullscreen-btn:hover,
.fullscreen-btn:hover,
.info-screen-btn:hover,
.control-keys-btn:hover,
.sound-btn:hover,
.ingame-sound-btn:hover,
.ingame-fullscreen-btn:hover,
.ingame-control-keys-btn:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(222, 174, 0);
}

.size img {
    height: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.ingame-size img {
    height: 0.9rem;
    margin: 0.5rem;
    cursor: pointer;
}

.element-direction img {
    margin-bottom: 0.5rem;
}

.element-direction span {
    margin: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #E8E8E8;
}

.pop-up-design {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-12%, -50%);
    background-color: rgb(240, 171, 32);
    border-radius: 1rem;
    border: 3px solid black;
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.pop-up-design span {
    font-size: 1.3rem;
    word-spacing: 0.5rem;
    font-family: Helvetica;
}

.d-none {
    display: none !important;
}

.fullscreen {
    height: 100% !important;
    width: 100% !important;

}

/*.z-index {
    z-index: 1;
    background-image: url("img/5_background/first_half_background.png");
}*/

.fullscreen-lvl {
    height: 60% !important;
    max-width: 80% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}