@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/complete_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabars', 'Arial', 'Helvetica', 'sans-serif';
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin: 1rem;
}

h2 {
    font-family: 'zabars';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: black;
}

#main {
    position: relative;
}

#first-screen,
#game-over-screen,
#game-won-screen {
    position: absolute;
    top: 0;
    left: 0;
    /* Set the left position to 0 to cover the entire #main */
    width: 45rem;
    /* Set the width of #firstscreen to 100% */
    height: 30rem;
    /* Set the height of #firstscreen to 100% */
}

.overlay-design img {
    width: 45rem;
    /* Ensure the image doesn't exceed the width of its parent */
    height: 30rem;
    /* Ensure the image doesn't exceed the height of its parent */
}

#start-btn,
#restart-btn {
    position: absolute;
    top: 1rem;
    left: 45%;
    background-color: rgb(222, 192, 0);
    min-width: 5rem;
    height: 2rem;
    font-size: 1rem;
    color: hsl(0, 0%, 3%);
    border: 2px solid hsl(0, 0%, 36%);
    cursor: pointer;
}

#start-btn:hover,
#restart-btn:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(222, 174, 0);
}

#close-btn {
    background-color: rgb(222, 192, 0);
    min-width: 5rem;
    height: 2rem;
    font-size: 1rem;
    color: hsl(0, 0%, 3%);
    border: 2px solid hsl(0, 0%, 36%);
    cursor: pointer;
    margin-top: 0.5rem;
}

#close-btn:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(222, 174, 0);
}

#control-keys {
    display: flex;
    margin-top: -3.5rem;
    justify-content: space-around;
    align-items: center;
}

.fullscreen-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.size img {
    height: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.info-screen-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: 2px solid hsl(0, 0%, 36%);
    border-radius: 50%;
    background-color: rgb(222, 192, 0);
    transition: 125ms ease-in-out;
}

.fullscreen-btn:hover,
.fullscreen-btn:hover,
.info-screen-btn:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(222, 174, 0);
}

.element-direction {
    display: flex;
    align-items: center;
}

.element-direction span {
    margin: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

#description {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-12%, -50%);
    background-color: rgb(240, 171, 32);
    border-radius: 1rem;
    border: 3px solid black;
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#description span {
    font-size: 1.3rem;
    word-spacing: 0.5rem;
    font-family: Helvetica;
}

.d-none {
    display: none !important;
}

.fullscreen {
    height: 100% !important;
    width: 100% !important;

}

.z-index {
    z-index: 1;
    background-image: url("img/5_background/first_half_background.png");
}

.fullscreen-lvl {
    height: 60% !important;
    max-width: 80% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}